header {
    z-index: 9999;

    a {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #f7f7f7;
            cursor: pointer;
        }
    }
}

.grad-bg {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
